bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Solution folders
_temp/
.obsidian/
*.local.*

# Common settings
.vs/
.vscode/
.idea

*.suo
*.user
*.sln.docstates
riderModule.iml
Thumbs.db
